body{
    background-color: #4c7cda;
}

.logo{
    width: 100px;
}
.logotip{
    margin: 0 auto 25px;
    padding-left: 125px;
}
.container{
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 100px;

}

.place {
    width: 40%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: block;
    border: none;
    background: #3d67b7;
    color: white;
    height: 15px;
}
.place::placeholder {
    color: #4c7cda;
}
.btn {
    text-align: center;
    display: inline-block;
    width: 285px;
    height: 25px;
    color: #4c7cda;
    background-color: white;
    font-weight: 800;
    text-decoration: none;
    padding: .5em 2em;
    transition: 0.2s;
    cursor: pointer;
  } 
  .btn:hover { 
      background: #3d67b7;
      color: white;
     }
  .btn:active { background: white; }
  
  .terms {
      color: white;
  }
  .tt{
      
      color: #3d67b7;
  }